*{
  margin:0;
  padding:0;
}
body{
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #ffffff;
  font-family: IRANSans;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/IRANSansWeb_Bold.eot');
  src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/eot/IRANSansWeb.eot');
  src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
.alert{
  margin: 0;
}
#scrolltotopbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #3069b3;
  box-shadow: 2px 2px 10px 2px #772200;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
}
#scrolltotopbtn:hover {
  background-color: #3bc1cf;
  animation-name: Mdown;
  animation-duration: 0.1s;
}
.breadcrumb{
  background-color: #fff;
  margin-bottom: 0;
}
.breadcrumb-item{
  color: #111111;
}
.breadcrumb-item a{
  color: #8b2c70;
}
.breadcrumb-item a:hover{
  color: #000;
  text-decoration: none;
}
.nav-bg{
  background-color: #fff;
  opacity: 90%;
  right: 10%;
  box-shadow: 2px 2px 10px 2px #772200;
}
.nav-bg div > ul > li > a{
  color:#8b2c70;
}
.navbar-brand{
  color: #fff;
}
.nav-bg div > ul > li > a:hover{
  background-color: white ;
  color: black;
  border-radius: 10px;
  text-align: center;
}
.nav-part{
  padding: 50px;
}
.dropdown-menu {
  background-color: #fff;
  opacity: 100%;
  border-radius: 10px;
}
.dropdown-menu a{
  color: black;
  animation-name: Mdown;
  animation-duration: 1s;
}
@keyframes Mdown{
  from{
    opacity: 0;
    transform: translate(20px,0);
    -webkit-transform: translate(20px,0);
  }
  to{
    opacity: 1;
  }
}
.head-page{
  margin-bottom: 0;
  font-size: 36px;
  /*box-shadow:2px 2px 10px 2px #8b2c70;*/
  background-color:#e0aaff;
}
.head-page h1,h2{
  color: #8b2c70;
}
.animateMdown05s{
  animation-name: Mdown;
  animation-duration: 0.5s;
}
.animateMdown1s{
  animation-name: Mdown;
  animation-duration: 1s;
}
.animateMdown1-5s{
  animation-name: Mdown;
  animation-duration: 1.5s;
}
.animateMdown2s{
  animation-name: Mdown;
  animation-duration: 2s;
}
.animateMdown2-5s{
  animation-name: Mdown;
  animation-duration: 2.5s;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.fa-bars{
  color: #8b2c70;
}
.fa-bars:hover{
  color: #000;
}
.navbar-toggler:hover{
  animation-name: Mdown;
  animation-duration: 1s;
}
/*.fa-telegram{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  z-index: 5;
  direction: ltr;
  color: white;
  border-radius: 20%;
  background:blue;
  bottom: 60px;
}
.fa-telegram:hover{
  text-decoration: none;
  background: #03045e ;
}
.fa-instagram{
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  z-index: 5;
  direction: ltr;
  color: white;
  border-radius: 20%;
  background:linear-gradient(-60deg,
  #4361ee 10%,
  #f72585 40%,
  #7209b7 70%);
}
.fa-instagram:hover{
  text-decoration: none;
  background:linear-gradient(-60deg,
  #4361ee 10%,
  #7209b7 40%,
  #f72585 70%);
}*/
.container{
  margin-top:5px;
}
.end-frist-page{
  color: rgb(255, 67, 67);
  font-size: 25px;
}
.head-card{
  color: #8b2c70;
}
.h5-card{
  font-size: 20px;
}
.card{
  margin-top: 9px;
}
.card a{
  text-decoration: none;
  color: #8b2c70;
}
.etelaate-bishtar{
  border:solid #8b2c70 1px;
}
.etelaate-bishtar:hover{
  animation-name: Mdown;
  animation-duration: 0.1s;
}
.dropdown-item:hover{
  background-color: #8b2c70;
  color: white;
  text-align: center;
}
.card{
  box-shadow: 2px 2px 10px 2px #8b2c70;
}
.hr-card{
  width:100%;line-height:1px;
  background-color:#8b2c70;
}
.card:hover{
  box-shadow: 2px 2px 10px 2px #000;
  background-color: #8b2c70;
  animation-name: Mdown;
  animation-duration: 0.1s;
}
.card:hover .head-card, .card:hover a{
  color: white;
}
.card a:hover{
  background-color: white;
  color: #8b2c70;
}
.card:hover .hr-card{
  background-color: white;
}

.text-accordion:hover{
  color: #fff;
}
#accordion{
  padding: 20px;
}
.dropdown-accordion{
  color: #8b2c70;
}
.dropdown-accordion:hover{
  color: #fff;
}
.finished-pages{
  background-color: #8b2c70;
  color: white;
  margin:auto;
  padding: 10px;
  box-shadow: 2px 2px 10px 2px #772200;
}
.menu-aria{
  position: static;
  z-index: 20;
}
.menu-contact{
  font-size: 15px;
}
.mega-aria{
  position: absolute;
}
.dropdown-item{
  z-index: 20;
}
.h5-nav-dropdown{
  font-weight: 900;
  margin-right: 10px;
}
.card{
  font-size: 17px;
}
.row-cards{
  padding: 20px;
}



.sec-footer{
  background: #8b2c70;
  direction: rtl;
  text-align: right;
  color: #fff;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
.sec-footer .desc-box{
  background: transparent;
  border: 0;
}
.sec-footer .desc-box .card-title::after{
  content: ' ';
  background: #ffffff;
  display: block;
  width: 95%;
  height: 0.2rem;
  margin-top:0.3rem;
}
.sec-footer .desc-box .card-text{
  font-family:iranyekan_light;
  text-align: justify;
}
.sec-sub-footer{
  background: #f2f2f4;
  direction: rtl;
  text-align: right;
  color: #000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size:0.8rem;
}
.sec-sub-footer a{
  font-size:0.8rem;
}
/*------------------*/
.snip1472 {
  position: relative;
  font-size: 20px;
  color: #e6e6e6;
  width: 45px;
  margin: 4px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1472:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #e6e6e6;
  content: '';
  z-index: -1;
  border-radius: 50%;
}
.snip1472:before {
  color: #fff;
}
.snip1472:before,
.snip1472:after {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.snip1472:hover,
.snip1472:active,
.snip1472.hover {
  color: #ffffff;
}
.snip1472:hover:after,
.snip1472:active:after,
.snip1472.hover:after {
  border-color: #fff transparent #fff transparent;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}



.bezoodi-bg{
  background-image:url(../img/Z-1.jpg);
}
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Set neon color */
  --neon-text-color: #8b2c70;
  --neon-border-color: #08f;
}

.h1-kham {
  font-size: 100px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  padding: 20%;

  animation: flicker 1.5s infinite alternate;
}

.h1-kham::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.h1-kham::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.h1-kham:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #8b2c70,
            0.2rem 0.2rem 1rem #8b2c70,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}







.ml-3, .mx-3 {
  margin-right: 0rem !important;
}
footer{
  border-top: 1px solid #8b2c70;
  z-index: 1;
  box-shadow: 2px 2px 10px 2px #8b2c70;
}


/*detail views product*/

#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column{
	width: 600px;
	padding: 10px;
}

.btnPurple{
  border-radius:5px;
  background-color:#8b2c8b;
  color:#fff;
}
.btnPurple:hover{
  border:1px solid #8b2c8b;
  background-color:#fff;
  color:#8b2c8b;
  animation-name: Mdown;
}

#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
  justify-content: center;
  text-align: center;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(104, 0, 104, 0.3);

}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#slider::-webkit-scrollbar-thumb {
  background-color: #8b2c8b;
  outline: 1px solid #8b2c70;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}