<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ورود</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/form-style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body><!--moein parvizi(+989107215381)-->
    <!--scroll to the top button-->
    <button onclick="topFunction()" id="scrolltotopbtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

    <header class="animateMdown05s">
    <!--top page-->
      <div class="row">

      <div class="col-lg-9 d-none d-sm-block">
        <!--slider-->
        <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/banner/1.jpg" alt="banner" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="img/banner/2.jpg" alt="banner" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="img/banner/3.jpg" alt="banner" width="1100" height="500">
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>

      <div class="col-lg-3 d-none d-lg-block">
        <img src="img/logo.jpg" alt="" style="width: 100%;">
      </div>
      </div>
      <!--breadcrumb-->
      <ul class="breadcrumb">
    <li class="breadcrumb-item">
      چاپ محصولات هنری علی
    </li>
    <li class="breadcrumb-item">
      <a href="index.html">
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li class="breadcrumb-item">
      محصولات چاپی
    </li>
    <li class="breadcrumb-item">
      <a href="mask.html">
        ماسک
      </a>
    </li>
      </ul>
    </header>

  <!--nav-->
    <nav class="navbar navbar-expand-sm nav-bg sticky-top justify-content-center animateMdown1s">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
      <i class="fa fa-bars"></i><!--fuck-->
    </button>
    <a class="navbar-brand" href="index.html">
      <img src="img/logo.jpg" style="width:70px;" alt="چاپ هنری علی">
    </a>
    <div class="collaps navbar-collapse" id="collapse_target">
      <ul class="navbar-nav">
        <li class="nav-item khane">
          <a class="nav-link " href="index.html"> خانه <i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item kham">
          <a class="nav-link" href="mahsulate-kham.html">محصولات خام</a>
        </li>
        <li class="nav-item dropdown menu-aria">
          <a class="nav-link dropdwon-toggle" href="#" style="border-bottom: solid #8b2c70 1px;" id="mega-one" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            خدمات چاپی
            <i class="fa fa-angle-down"></i>
          </a>
          <div class="dropdown-menu mega-aria scrollmenu" aria-labelledby="mega-one">
            <div class="row">

              <div class="col-12  col-sm-7 col-lg-6 col-xl-3">
                <a href="mug.html" class="dropdown-item menu-contact">(لیوان)ماگ</a>
                <a href="mask.html" class="dropdown-item menu-contact">ماسک</a>
                <a href="tshert.html" class="dropdown-item menu-contact">تیشرت</a>
                <a href="kolah.html" class="dropdown-item menu-contact">کلاه</a>
                <a href="boshghab.html" class="dropdown-item menu-contact">بشقاب</a>
              </div>
              <div class="col-12 col-sm-7 col-lg-6 col-xl-3">
                <a href="ghaliche.html" class="dropdown-item menu-contact">قالیچه</a>
                <a href="barchasb-hararati-berezent.html" class="dropdown-item menu-contact">روی برزنت و چرم</a>
                <a href="puzzle-chubi.html" class="dropdown-item menu-contact">پازل چوبی</a>
                <a href="#" class="dropdown-item menu-contact">پازل مقوایی</a>
                <a href="#" class="dropdown-item menu-contact">کوسن</a>
              </div>
              <div class="col-12 col-sm-7 col-lg-6 col-xl-3">
                <a href="#" class="dropdown-item menu-contact">خلال دندان چوبی</a>
                <a href="#" class="dropdown-item menu-contact">پیکسل و جا سوییچی فلزی</a>
                <a href="#" class="dropdown-item menu-contact">ساعت رو میزی یا دیواری</a>
                <a href="#" class="dropdown-item menu-contact">ساک پارچه ای</a>
                <a href="#" class="dropdown-item menu-contact">شال و روسری</a>
              </div>
              <div class="col-12 col-sm-7 col-lg-6 col-xl-3">
                <a href="#" class="dropdown-item menu-contact">تقویم رو میزی و دیواری</a>
                <a href="#" class="dropdown-item menu-contact">جوراب</a>
                <a href="#" class="dropdown-item menu-contact">کتاب ادعیه قرآن اموات</a>
                <a href="#" class="dropdown-item menu-contact">قاب گوشی</a>
                <a href="#" class="dropdown-item menu-contact">جاسوییچی و گردن بند</a>
              </div>
              <div class="col-12 col-sm-7 col-lg-6 col-xl-3">
                <a href="#" class="dropdown-item menu-contact">قاب عکس</a>
                <a href="#" class="dropdown-item menu-contact">سی دی و دی وی دی</a>
                <a href="#" class="dropdown-item menu-contact">برچسب حرارتی روی لباس</a>
                <a href="#" class="dropdown-item menu-contact">کارت ویزیت</a>
                <a href="#" class="dropdown-item menu-contact">شبرنگ نویسی و استیکر</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </nav>

  <!--uniq-card-->
      <section class="row container-fluid animateMdown1-5s justify-content-center section-form-login">

        

      </section>





    <article class="animateMdown2s">
      <div class="middle-page">
        <div class="head-page" style="background-color:#74bcff;">
          <h2 class="text-center py-5" style="margin-top:0;">موارد پیشنهادی</h2>
          <hr style="line-height:1px;width:100%;background-color:#fff;">
          <div class="row container-fluid" style="padding-bottom:20px">

            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="card">
                <img src="img/barchasbhararati.jpg" alt="چاپ برچسب حرارتی" class="img-farsh card-img-top">
                <div class="card-body">
                  <h5 class="head-card h5-card text-center">برچسب حرارتی</h5>
                  <hr class="hr-card">
                  <a href="#" class="btn stretched-link etelaate-bishtar">اطلاعات بیشتر</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="card">
                <img src="img/mag.jpg" alt="چاپ روی مگ" class="livan-img card-img-top">
                <div class="card-body">
                  <h5 class="head-card h5-card text-center">چاپ روی لیوان</h5>
                  <hr class="hr-card">
                  <a href="#" class="btn stretched-link etelaate-bishtar">اطلاعات بیشتر</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="card">
                <img src="img/saat.jpg" alt="چاپ روی ساعت" class="saat-img card-img-top">
                <div class="card-body">
                  <h5 class="head-card h5-card text-center">چاپ روی ساعت</h5>
                  <hr class="hr-card">
                  <a href="#" class="btn stretched-link etelaate-bishtar">اطلاعات بیشتر</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="card">
                <img src="img/puzzlechubi.jpg" alt="چاپ روی پازل چوبی" class="puzzle-img card-img-top">
                <div class="card-body">
                  <h5 class="head-card h5-card text-center">روی پازل چوبی</h5>
                  <hr class="hr-card">
                  <a href="#" class="btn stretched-link etelaate-bishtar">اطلاعات بیشتر</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </article>


    <footer class="animateMdown2-5s">
      <div class="container-fluid sec-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card desc-box">
                        <div class="card-body">
                            <div class="card-title">زمان پاسخ گویی</div>
                            <div class="card-text">
                              از ساعت 9:00 صبح تا ساعت 18:00 عصر پاسخگوی مشتریان هستیم به جز روز های تعطیل و پاسخگویی در واتس اپ 24 ساعته
                            </div>
                        </div>
                    </div><!--.card-->
                </div><!--.col-->
                <div class="col">
                    <div class="card desc-box">
                        <div class="card-body">
                            <div class="card-title">ارتباط با ما</div>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col">
                                        <i class="fa fa-phone ml-3"></i>
                                        <span>09193174571 09303174571 021-55250612</span>
                                    </div><!--.col-->
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col">
                                        <i class="fa fa-map-marker ml-3"></i>
                                        <span>به دلایل بیماری کرونا به صورت غیر حضوری پذیرفته می شود</span>
                                    </div><!--.col-->
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col">
                                        <i class="fa fa-envelope-open ml-3"></i>
                                        <span>mhossein20@yahoo.com</span>
                                    </div><!--.col-->
                                </div><!--.row-->
                            </div><!--.card-text-->
                        </div>
                    </div><!--.card-->
                </div><!--.col-->
                <div class="col text-center">
                    <img src="img/logo.png" alt="خدمات چاپی علی" style="width:200px;" class="mb-3">
                    <br class="clearfix">
                    <a href="https://www.instagram.com/chape.tehran/" class="snip1472"><i class="fa fa-instagram"></i></a>
                    <a href="https://t.me/chapeshatare" class="snip1472"><i class="fa fa-telegram"></i></a>
                </div><!--.col-->
            </div><!--.row-->
        </div>
      </div>
      <div class="container-fluid sec-sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <span>تمامی حقوق سایت متعلق به خدمات چاپی سارگل می باشد.</span>
                </div><!--.col-->
                <div class="col-12 col-sm-6 text-left">
                    <a href="#" class="f-light text-dark">طراحی و توسعه:</a>
                    <a href="#"  class="f-light text-dark">معین پرویزی ۰۹۱۰۷۲۱۵۳۸۱</a>
                </div><!--.col-->
            </div><!--.row-->
        </div>
      </div>
    </footer>
    <!--moein parvizi(+989107215381)-->
    <script src="js/custom.js"></script>
  </body>
</html>
